h1 {
	text-align: left;
	font-family: 'Times New Roman', serif;
	font-size: 2em;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;

	a {
		color: black !important;
	}

}

.tabs {
	margin-bottom: 20px;

	h2 {
		font-size: 1.2em;
		font-family: 'Times New Roman', serif;
		margin: 10px 0;
		display: inline;
		margin-right: 20px;

		a:visited { 
			color: blue; 
			text-decoration: underline;
		}
		a:link {
			color: blue;
			text-decoration: underline;
		}
	
		a:hover {
			color: red;
			text-decoration: underline;
		}
	}

	.subtab {
		display: block;
	}
}

@media (max-width: 480px) {
	.tabs {
		display: block;
		.subtab {
			h2 {
				display: inline-block;
				margin-right: 10px;
				margin-bottom: 10px;
				
			}
		}
	}
}

@media (min-width: 481px) {
	.tabs {
		display: flex;
		.subtab {
			h2 {
				display: inline-block;
				margin-right: 20px;
				margin-bottom: 0;
			}
		}
	}
}



