
.introWrapper {

	.intro {
		font-size: 1em;
		font-family: 'Times New Roman', serif;
		text-align: left;
		margin-bottom: 20px;
	}
	
	.introImage {
		width: 200px;
		height: 200px;
		margin: 0;
		display: block;
		border-radius: 0;
		margin-bottom: 20px;
	}

}


