
.News {
	display: flex;
	margin-bottom: 10px;

	.NewsDate {
		width: 100px;
		flex-shrink: 0;
	}

	h4 {
		margin: 0;
		font-size: 1em;
		width: auto;
		font-family: 'Times New Roman', serif;
		font-weight: bold;
		margin-right: 10px;
	}

	p {
		margin: 0;
		font-size: 1em;
		font-family: 'Times New Roman', serif;
		flex: 1;
	}
}

